@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Pizza>

@if (Model.Count() == 0)
{
    <h3 class="text-center">Non sono presenti Pizze.</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>foto</th>
                <th>nome</th>
                <th>Descrizione</th>
                <th>info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Pizza pizza in Model)
            {
                <tr>
                   
                    <td class="image">
                        <img class="post-list-image" src="@pizza.Image">
                    </td>
                    <td class="title">@pizza.Name</td>
                    <td class="description">
                        @pizza.Description
                    </td>
                    <td><a href="@Url.Action("Detail",new {id = pizza.Id})">info</a></td>
                </tr>
            }
        </tbody>
    </table>

}

